In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv("Lpoint/01Product.csv", usecols = [0,1,2,3,4])
data2 = pd.read_csv("Lpoint/02Search1.csv")
data4 = pd.read_csv("Lpoint/04Custom.csv" , usecols= [0,1])
data5 = pd.read_csv("Lpoint/05Session.csv", usecols = [0,1,2,3,4,5])
data6 = pd.read_csv("Lpoint/06Master.csv")

In [3]:
data1 = pd.DataFrame(data1)
data2 = pd.DataFrame(data2)
data5 = pd.DataFrame(data5)
data6 = pd.DataFrame(data6)

In [5]:
data = data1.merge(data2, how = 'inner')
data = data.merge(data4, how = 'inner')
data = data.merge(data5, how = 'inner')
data = data.merge(data6, how = 'inner')

In [6]:
import numpy as np
data= data.fillna(0)

In [7]:
data.head()

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,KWD_NM,SEARCH_CNT,CLNT_GENDER,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,4147643,4050743,66,149995,사이즈:옵션04.AN868_04 / 1개,선글라스,1,F,18,20180724,73.0,"3,850",[ANGLOMANIA][5종택1] 명품 선글라스 5 - 옵션03.AN868_03,패션잡화,안경/선글라스,여성선글라스
1,4147643,4050743,66,149995,사이즈:옵션04.AN868_04 / 1개,앵글로매니아,1,F,18,20180724,73.0,"3,850",[ANGLOMANIA][5종택1] 명품 선글라스 5 - 옵션03.AN868_03,패션잡화,안경/선글라스,여성선글라스
2,1126667,4302893,193,149995,사이즈:옵션01.AN868_01 / 1개,비디보브,1,F,226,20180719,426.0,"2,672",[ANGLOMANIA][5종택1] 명품 선글라스 5 - 옵션03.AN868_03,패션잡화,안경/선글라스,여성선글라스
3,1126667,4302893,193,149995,사이즈:옵션01.AN868_01 / 1개,발레스커트,7,F,226,20180719,426.0,"2,672",[ANGLOMANIA][5종택1] 명품 선글라스 5 - 옵션03.AN868_03,패션잡화,안경/선글라스,여성선글라스
4,1126667,4302893,193,149995,사이즈:옵션01.AN868_01 / 1개,포베네,7,F,226,20180719,426.0,"2,672",[ANGLOMANIA][5종택1] 명품 선글라스 5 - 옵션03.AN868_03,패션잡화,안경/선글라스,여성선글라스

In [8]:
data['search_count'] = data.apply(lambda row: row.SEARCH_CNT*500 , axis=1)

In [9]:
data['sess_sq'] = data.apply(lambda row: row.SESS_SEQ*5 , axis=1)

In [10]:
data['tot_page'] = data.apply(lambda row: row.TOT_PAG_VIEW_CT*10 , axis=1)

In [18]:
data.drop(['SEARCH_CNT', 'SESS_SEQ','TOT_PAG_VIEW_CT'], axis=1)

In [12]:
data["CLNT_GENDER"].replace({"F":2,"M":1}, inplace = True)

In [13]:
data['TOT_SESS_HR_V'] = data['TOT_SESS_HR_V'].str.replace(',', '')
data['TOT_SESS_HR_V'] = pd.to_numeric(data['TOT_SESS_HR_V'])

In [14]:
data['result']=data.apply(lambda row: row.search_count + row.tot_page + row.sess_sq , axis=1)

In [15]:
data= data.drop(['SEARCH_CNT', 'SESS_SEQ','TOT_PAG_VIEW_CT'], axis=1)

In [16]:
data= data.sort_values(by=['CLNT_GENDER','result'], ascending=False)

In [20]:
data = data.drop(['CLAC1_NM','CLAC2_NM','PD_ADD_NM'],axis = 1)

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,KWD_NM,CLNT_GENDER,SESS_DT,TOT_SESS_HR_V,PD_NM,CLAC3_NM,search_count,sess_sq,tot_page,result
3429017,5741873,4169868,152,113362,에이치커넥트여성,2,20180722,2332,여성 2칼라 끈리본 롱기장티셔츠 (30070-121-407-10) - 206(블루)...,여성원피스,23500,13090,4990.0,41580.0
1890750,6490905,3963667,74,665058,티렌,2,20180725,1139,기본폴라티셔츠(T171YSK901) - GN(그린) / FREE,여성스웨터/풀오버,8500,29900,2800.0,41200.0
1437292,519938,2844061,390,583277,오가닉맘 남아팬티,2,20180813,851,아룡남아삼각팬티 MBS3UP04 - 80,유아동팬티,28000,7020,4000.0,39020.0
3514204,519938,2844061,390,732340,오가닉맘 남아팬티,2,20180813,851,메란스타남아삼각팬티(MCS3UP07) - 60,유아동팬티,28000,7020,4000.0,39020.0
3966143,519938,2844061,390,534472,오가닉맘 남아팬티,2,20180813,851,람보르남아아동삼각팬티(MDS3UP22) - [1049478338]화이트/70,유아동내의,28000,7020,4000.0,39020.0

In [21]:
data = data.drop(['CLNT_ID','SESS_ID','PD_C'],axis=1)

In [23]:
girl = data["CLNT_GENDER"] == 2
boy = data["CLNT_GENDER"] == 1

In [52]:
girl = data[data['KWD_NM'].str.contains("여") | data['CLAC3_NM'].str.contains("여")]
Adverse = girl[girl["CLNT_GENDER"] == 1]
Consistent = girl[girl["CLNT_GENDER"] == 2]

In [54]:
boy = data[data['KWD_NM'].str.contains("남") | data['CLAC3_NM'].str.contains("남")]
Adverse = Adverse.append(boy[boy["CLNT_GENDER"] == 2])
Consistent = Consistent.append(boy[boy["CLNT_GENDER"] == 1])

In [56]:
print(len(Adverse))
print(len(Consistent))
print(len(data))

1195884
1755039
4883794

# 가설검정

This is a two-sided test for the null hypothesis that 2 independent samples have identical average (expected) values. This test assumes that the populations have identical variances by default.

In [60]:
from scipy import stats
tTestResult = stats.ttest_ind(Adverse['result'], Consistent['result'])
tTestResultDiffVar = stats.ttest_ind(Adverse['result'], Consistent['result'], equal_var=False)

print("The t-statistic and p-value assuming equal variances is %.3f and %.3f." % tTestResult)
print("The t-statistic and p-value not assuming equal variances is %.3f and %.3f" % tTestResultDiffVar)

The t-statistic and p-value assuming equal variances is -25.649 and 0.000.
The t-statistic and p-value not assuming equal variances is -25.790 and 0.000